# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# See Live Demo https://storage.googleapis.com/accio-digital-ocean-data/media/frontend_placement_mock/frontend_placement_mock_covid19API.gif

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
